<!-- header file start -->

<html>
  <head>
    <!-- Adding scripts -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      src="https://kit.fontawesome.com/2dee66e886.js"
      crossorigin="anonymous"
    ></script>
    <script src="/navbar.js"></script>
    <script src="/searchBox.js"></script>
  </head>

  <!-- Adding a navBar -->

  <nav class="nav1">
    <div class="nav-item-start">
      <a class="logo" href="/index">TTS</a>
      <a href="/home">Home</a>
    </div>
    <div class="nav-item-end">
      <div>ashldsaldjaljsldj</div>
      <div>dsfasdfdasfdas</div>
    </div>
  </nav>
  <a class="navbar-brand" href="/index">TTS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        style="font-size: large"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact1">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <% if(!currentUser){%>
          <a class="rounded-lg btn-sm btn-pink" href="/admin/login">
            Login<i class="fas fa-user-plus"></i>
          </a>
          <% } else {%>
            <a class="rounded-lg btn-sm btn-pink" href="#">
            
              <%=currentUser.username%>
              <i class="fas fa-user"></i></i>
          <a class="rounded-lg btn-sm btn-pink" href="/logout">
            Logout<i class="fas fa-user-times"></i>
          </a>
          <%}%>
        </form>
      </div>

