#jumboMargin {
  margin-top: 5%;
  border-radius: 50px;
}

button {
  border-color: #90a8d8;
  background-color: cornflowerblue;
  color: black;
  border-width: 3px;
}
.d-flex div {
  padding: 1%;
  box-sizing: border-box;
}
.col-left {
  width: 14%;
  float: left;
}
.col-left a {
  margin-bottom: 5%;
  font-size: 1.3vw;
}
.col-center {
  width: 60%;
  float: left;
}
.col-right {
  width: 15%;
  float: left;
}
img {
  height: 400px;
  width: 100%;
  border-radius: 15px;
}
@media (min-width: 768px) {
  #jumboMargin {
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  #jumboMargin {
    margin-top: 10%;
  }
}
.card {
  width: 100%;
}
.searchbar {
  position: relative;
  min-width: 50px;
  width: 0%;
  height: 50px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbar-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: white;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 20px;
  color: black;
}

.searchbar-input::-webkit-input-placeholder {
  color: black;
}

.searchbar-input:-moz-placeholder {
  color: black;
}

.searchbar-input:-ms-input-placeholder {
  color: black;
}

.searchbar-icon {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 25%;
  font-family: verdana;
  font-size: 22px;
  right: 0;
  padding: 0%;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: black;
  border-left: 1px solid white;
}
.searchbar-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  font-family: verdana;
  font-size: 22px;
  right: 0;
  padding: 0%;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: black;
  border-left: 1px solid white;
}

.searchbar-open {
  width: 100%;
}
