body {
  /* background-image: linear-gradient(to top, #00cdac, #02aab0); */
  background-image: url("homebackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  box-sizing: border-box;
}

.mySlides1,
.mySlides2 {
  display: none;
}

.btn:hover {
  color: #f1f1f1;
}

#btn {
  background-color: #c38d9e;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 2px;
  padding: 12px;
  left: 0;
  margin-top: auto;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.7s ease;
  border-radius: 10px 3px 3px 10px;
  user-select: none;
  background-color: black;
}
.next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  width: 2px;
  padding: 12px;
  margin-top: auto;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.7s ease;
  right: 0;
  border-radius: 5px 10px 10px 5px;
  user-select: none;
  background-color: black;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}
p {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

/* Body */
#mainContent {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

#row2Element2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;

  grid-template-columns: 1fr;

  padding: 0;
}

#r2e2-Header {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#r2e2-Body {
  display: grid;
  grid-template-columns: 1fr 10fr 5fr 1fr;
  justify-content: center;
  align-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
}
#r2e2-Image {
  grid-column-start: 2;
  grid-column-end: 3;
  max-height: 300px;
}
#prev {
  grid-column-start: 1;
  grid-column-end: 2;
}
#next {
  grid-column-start: 4;
  grid-column-end: 5;
}
img {
  width: 100%;
  height: 100%;
}
#r2e2-Brief {
  grid-column-start: 3;
  grid-column-end: 4;
}
