<%- include ('../partials/header')%>
<style>
  .container {
    margin-top: 8%;
    text-align: center;
  }
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 3vw;
  }
  input {
    border-radius: 10px;
    font-size: large;
  }
</style>
<div class="container">
  <h1>Hello Admin</h1>
  <form action="/admin/signup" method="POST">
    <!-- <input type="name" name="name" placeholder="Enter Name" /><br />
    <input type="number" name="phone" placeholder="Enter Number" /><br /> -->
    <input type="email" name="email" placeholder="Enter email" /><br />
    <input type="password" name="password" placeholder="Enter password" /><br />
    <button>Sign Up</button>
  </form>
</div>
<%- include ('../partials/footer')%>
