<%- include ('../partials/header')%>
<form style="margin-top: 8%" action="/admin/login" method="POST">
  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Login" />
</form>
<%- include ('../partials/footer')%>
