<%- include ('../partials/header')%>
<link rel="stylesheet" type="text/css" href="/news.css" />
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="ml-4 mr-0" style="margin-top: 7%">
  <div class="d-flex pr-0">
    <div class="row col-md-10 col-8 justify-content-around">
      <div class="d-flex col-lg-4 col-12 col-md-6 mb-3">
        <div class="card">
          <h5 class="card-title m-2">Processor</h5>
          <img class="card-img-top" src="Processor.jpg" alt="Processor" />
          <div class="card-body d-flex flex-column">
            <p class="card-text">
              System lags in multitasking? Or you feeling outdated with your old
              processor. Upgrade to a new one by comparing them as per your
              budget.
            </p>
            <a
              href="/gadgets/processors"
              class="mt-auto btn-block btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
      <div class="d-flex col-lg-4 col-12 col-md-6 mb-3">
        <div class="card">
          <h5 class="card-title m-2">Graphic Card</h5>
          <img class="card-img-top" src="graphic_card.jpg" alt="Graphic Card" />
          <div class="card-body d-flex flex-column">
            <p class="card-text">
              Entering the gaming world? Or looking for a upgrade? Quickly go
              through the top contender of the graphic card in your budget.
            </p>
            <a
              href="/gadgets/graphicCard"
              class="mt-auto btn-block btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
      <div class="d-flex col-lg-4 col-12 col-md-6 mb-3">
        <div class="card">
          <h5 class="card-title m-2">Laptop</h5>
          <img class="card-img-top" src="laptop.jpg" alt="Laptop" />
          <div class="card-body d-flex flex-column">
            <p class="card-text">
              Look for a laptop with better processor for multitasking and a
              laptop with better graphic card for gaming.
            </p>
            <a href="/gadgets/laptops" class="mt-auto btn-block btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
      <div class="d-flex col-lg-4 col-12 col-md-6 mb-3">
        <div class="card">
          <h5 class="card-title m-2">Smart Phone</h5>
          <img class="card-img-top" src="Phone.jpg" alt="Smart Phone" />
          <div class="card-body d-flex flex-column">
            <p class="card-text">
              Processor, RAM and Graphic processor are the main key to
              performance, unless you are a camera person!!!
            </p>
            <a
              href="/gadgets/mobiles"
              class="mt-auto btn-block btn btn-primary m-2"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
      <div class="d-flex col-lg-4 col-12 col-md-6 mb-3">
        <div class="card">
          <h5 class="card-title m-2">Headphone</h5>
          <img class="card-img-top" src="Headphone.jpg" alt="Headphone" />
          <div class="card-body d-flex flex-column">
            <p class="card-text">
              Want to feel the real music, or upgrading from the old one? Check
              out for the best one's in your budget.
            </p>
            <a
              href="/gadgets/headphones"
              class="mt-auto btn-block btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
      <div class="d-flex col-lg-4 col-12 col-md-6 mb-3">
        <div class="card">
          <h5 class="card-title m-2">Earphone</h5>
          <img class="card-img-top" src="earphone.jpg" alt="Earphone" />
          <div class="card-body d-flex flex-column">
            <p class="card-text">
              Frustrated of getting entangled between your earphone wire? Check
              for latest bluetooth earphone in your budget.
            </p>
            <a
              href="/gadgets/earphones"
              class="mt-auto btn-block btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row col-md-2 col-4 pr-0">
      <div class="container">
        <form class="searchbar">
          <input
            type="search"
            placeholder="Search here"
            name="search"
            class="searchbar-input"
            onkeyup="buttonUp();"
            required
          />
          <input type="submit" class="searchbar-submit" value="GO" />
          <span class="searchbar-icon"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></span>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include ('../partials/footer')%>
