<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Add a new Processor</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/processors"
      >
        <div class="form-group">
          <input class="form-control" text" name="processor[ModelName]"
          placeholder="Model Name" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Brief]"
          placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Description]"
          placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Image]"
          placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[LaunchedDate]"
          placeholder="Launched Date" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Price]"
          placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[ClockFrequency]"
          placeholder="ClockFrequency" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[TurboFrequency]"
          placeholder="Turbo Frequency" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[PhysicalCores]"
          placeholder="Physical Cores" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Threads]"
          placeholder="Threads" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Power]"
          placeholder="Power" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[BitWidth]"
          placeholder="Bit-Width" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[MaxMemory]"
          placeholder="Max Memory" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[ItemType]"
          placeholder="Item Type" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
