<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Add a new Graphic Card</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/graphicCard"
      >
        <div class="form-group">
          <input class="form-control" text" name="graphic[ModelName]"
          placeholder="ModelName" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Brief]"
          placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Description]"
          placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Image]"
          placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[LaunchedDate]"
          placeholder="LaunchedDate" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Price]"
          placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[GPUChip]"
          placeholder="GPUChip" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Bus]"
          placeholder="Bus" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Memory]"
          placeholder="Memory" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[GPUClock]"
          placeholder="GPUClock" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[MemoryClock]"
          placeholder="MemoryClock" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Shaders]"
          placeholder="Shaders" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
