<%- include ('../partials/header')%>
<h1 class="mt-5 d-flex justify-content-around">Add a new PC</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form class="jsutify-content-around" method="post" action="/preBuilt">
        <div class="form-group">
          <input class="form-control" text" name="build[ModelName]"
          placeholder="ModelName" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Brief]"
          placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Description}"
          placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Image]"
          placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Price]"
          placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Memory]"
          placeholder="Memory" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[MotherBoard]"
          placeholder="MotherBoard"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Connectivity]"
          placeholder="Connectivity" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Processor]"
          placeholder="Processor" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[PSU]" placeholder="PSU"
          />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[Cabinet]"
          placeholder="Cabinet" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[HardDisk]"
          placeholder="HardDisk" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="build[GraphicCard]"
          placeholder="GraphicCard" />
        </div>

        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
