<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Add a Earphone</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/earphones"
      >
        <div class="form-group">
          <input class="form-control" text" name="ear[ModelName]"
          placeholder="ModelName" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Brief]"
          placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Description]"
          placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Image]"
          placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Price]"
          placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Mic]" placeholder="Mic" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[ConnectorType]"
          placeholder="ConnectorType"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Connectivity]"
          placeholder="Connectivity" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[BatteryCapacity]"
          placeholder="BatteryCapacity" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
