<%- include ('../partials/header')%>
<link rel="stylesheet" type="text/css" href="/news.css" />
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<h1 class="mt-5 d-flex justify-content-around">Add a new Laptop</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/laptops"
      >
        <div class="form-group">
          <input class="form-control" text" name="laptop[ModelName]"
          placeholder="Model Name" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Brief]"
          placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Description]"
          placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Image]"
          placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[LaunchedDate]"
          placeholder="Launched Date" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Price]"
          placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[CPU]" placeholder="CPU"
          />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[GPU]" placeholder="GPU"
          />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[RAM]" placeholder="RAM"
          />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Display]"
          placeholder="Display" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Memory]"
          placeholder="Storage" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[Camera]"
          placeholder="Camera" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="laptop[ItemType]"
          placeholder="ItemType" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
