<%- include ('../partials/header')%>
<h1 class="mt-5 d-flex justify-content-around">Add a new Headphone</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/headphones"
      >
        <div class="form-group">
          <input class="form-control" text" name="headp[ModelName]"
          placeholder="ModelName" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Brief]"
          placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Description]"
          placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Image]"
          placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[HeadphoneType]"
          placeholder="HeadphoneType"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Price]"
          placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Mic]" placeholder="Mic"
          />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[ConnectorType]"
          placeholder="ConnectorType"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Connectivity]"
          placeholder="Connectivity" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[BatteryCapacity]"
          placeholder="BatteryCapacity" />
        </div>
        <div>
          <input class="form-control" text" name="headp[ItemType]"
          placeholder="Item Type"/>
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
