<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Add a new NEWS</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form class="jsutify-content-around" method="post" action="/news">
        <div class="form-group">
          <input class="form-control" text" name="news[header]"
          placeholder="header" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="news[brief]"
          placeholder="brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="news[description]"
          placeholder="description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="news[image]"
          placeholder="image" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
