<%- include ('../partials/header')%>
<link rel="stylesheet" type="text/css" href="news.css" />
<div class="mx-4 mt-5">
  <div class="d-flex bg-dark">
    <div class="d-flex col-md-9 col-8 flex-wrap bg-info justify-content-around">
      <div class="d-flex col-lg-3 col-12 col-md-6 bg-primary mb-2 m-lg-2">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex col-md-3 col-4 bg-danger">this is try</div>
  </div>
</div>
<%-include ('../partials/footer')%>
